body{
	background-repeat: no-repeat;
	background-size: 75%;
	background-attachment: fixed;
	background-position: center;
}

.title h1{
	font-size: 4em;
	text-align: center;
}

.year{
	text-align: center;
}